.about-background {
    background-image: url('../../media/aboutBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-position-x: center;
    background-position-y: center; */
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    /* position: fixed; */
    position: absolute  ;

    min-height: 100%;
    width: 100%;
}

.about-left {
    width: 50%;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    /* color: #f94b04; */
}

.about-title {
    color: #f94b04;
}